<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <h1>Produtos filtrados</h1>
    <label for="menuFiltro">Filtrar por preço:</label>
    <select name="menuFiltro" id="menuFiltro">
        <option value="0">Todos os produtos</option>
        <option value="1">Produtos abaixo de R$30</option>
        <option value="2">Produtos acima de R$30</option>
    </select>
    <main>
        <ul>
            <!-- Produtos serão inseridos aqui dinamicamente -->
        </ul>
    </main>

    <script type="module" src="/scripts/main.js">

    </script>
</body>

</html>